html {
    scroll-behavior: smooth;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

body {
    margin: 0;
    font-family: 'Spectral', serif;
}

.candidateContainer {
    width: 100%;
}

.candidateBanner {
    height: 950px;
    width: 19.5%;
    border: 2px solid white;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    color: white;
}

.candidateBanner:hover .shadow {
    visibility: visible;
}

.shadow {
    height: 950px;
    background-color: black;
    opacity: 0.7;
    visibility: hidden;
}

.blurb {
   
    padding-top: 400px;
    text-align: center;
}
@keyframes roll {
    from {width: 20%}
    to {width: 100%}
}

@keyframes rollWarren {
    from {
        margin-left: 40%;
        width: 20%;
    }
    to {
        margin-left: 0px;
        width: 100%;
    }
}

@keyframes rollButt {
    from {
        margin-left: 20%;
        width: 20%;
    }
    to {
        margin-left: 0px;
        width: 100%;
        background-image: none;
        background-color: teal;
        opacity: 0.7;
    }
}

@keyframes rollKamala {
    from {
        margin-left: 60%;
        width: 20%;
    }
    to {
        margin-left: 0px;
        width: 100%;
        background-image: none;
        background-color: dodgerblue;
        opacity: 0.7;
    }
}

@keyframes rollSanders {
    from {
        margin-left: 80%;
        width: 20%;
        font-size: 25px;
        text-decoration: none;
    }
    to {
        margin-left: 0px;
        width: 100%;
        font-size: 50px;
        text-decoration: underline;
        text-decoration-style: double;
    }
}






