/* 
Fonts:
font-family: 'Spectral', serif;

Dark Colors:
Colors:
Light Colors: 

*/

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
}

body {
    margin: 0;
    color: white;
    font-family: 'Spectral', serif;
}

.header {
    height: 408px;
    width: 150px;
    position: static;
    float: right;
    margin-top: -100px;
    margin-right: 50px;
    border-radius: 20px;
    background-color: black;
}

.button {
    height: 60px;
    width: 150px;
    padding-top: 40px;
    border-bottom: 2px solid white;
    font-family: 'Spectral', serif;
    
    font-size: 20px;
    text-align: center;
}
.active-top {
    background-color: white;
    color: #1D4058;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.active {
    background-color: white;
    color: #1D4058;
}

.active-bottom {
    background-color: white;
    color: #1D4058;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    transition: 1s;
    background-color: white;
    color: #1D4058;
}
#myContact:hover {
    transition: 1s;
    background-color: white;
    color: #1D4058;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#myResume:hover {
    transition: 1s;
    background-color: white;
    color: #1D4058;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    margin-top: 150px;
}

.sticky + .content {
  padding-top: 102px;
}


.main {
    height: 950px;
}

#section1 {
    background-image: linear-gradient(90deg, #1D4058, white);
}

.blankSpace {
    height: 175px;
}

.infoContainer {
    margin: auto;
    height: 500px;
    width: 50vw;
}

.name {
    font-size: 6vw;
    text-align: center;
    font-family: 'Spectral', serif;
    padding-top: 150px;
    border-bottom: 4px solid white;
}

.title {
    font-size: 3vw;
    text-align: center;
    font-family: 'Spectral', serif;
    margin-top: 20px; 
}


#section2 {
    background-color: #6297CA;
    /*color: #1D4058;*/
    color: white;
}

.blankSpace2 {
    height: 50px;
}
.displayContainer {
    height: 600px;
    width: 60vw;
    margin-left: 50px;
}

.displayBox {
    height: 550px;
    width: 100%;
}

.displayCaption {
    height: 50px;
    font-size: 3vw;
    text-align: center;
    color: white;
    background-color: #6297CA;
}

.graphicContainer {
    width: 1200px;
    margin-left: 50px;
}

.paragraphText {
    text-align: center;
    width: 90%;
    margin: auto;
}

.smallImage {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
}


.infographic {
    height: 196px;
    width: 19.2vw;
    margin-right: .65vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    float: left;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: .2vw solid white;
    border-left: .2vw solid white;
}
.infographic:hover {
    height: 196px;
    width: 19.2vw;
    border-top: 2px solid #1D4058;
    border-bottom: 2px solid #1D4058;
    border-right: .2vw solid #1D4058;
    border-left: .2vw solid #1D4058;
}

.igContent {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 550px;
}

.aboutMe {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    
}

#section3 {
    background-image: linear-gradient(90deg, #1D4058, white);
}

.projectMatrix  {
    height: 830px;
    width: 80%;
    margin-left: 2vw;
}

.aProject {
    height: 300px;
    padding-top: 100px;
    width: 32%;
    float: left;
    margin-right: 1vw;
    background-color: #6297CA;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.aProject:hover {
    transition: 1s;
    color: #1D4058;
    background-color: white;
    cursor: pointer;
}


#section4 {
    background-color: #6297CA;
    
}

#section5 {
    background-image: linear-gradient(90deg, #1D4058, white);
}

.seeFullResume {
    height: 40px;
    width: 60vw;
    border: 1px solid white;
    float: left;
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 50px;
}

.main a {
    color: white;
}

.seeFullResume:hover {
    background-color: white;
    color: #1D4058;
    transition: 1s;
    cursor: pointer;
}

.seeFullResume:active {
    margin-top: 1px;
}

.resumeIntro {
    display: none;
}

.resumeIcon {
    display: none;
}

.meep {
    height: 40px;
}

.meep:first-child::first-letter {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

.blogContainer {
    margin-left: 20px;
    padding-top: 20px;
    width: 80%;
}


.blogHeader {
    height: 50px;
    margin-left: 50px;
}

.option {
    height: 50px;
    width: 10vw;
    text-align: center;
    font-weight: bolder;
    font-size: 1.8vw;
    float: left;
    margin-right: 20px;
}
.option:hover {
    color: black;
    transition: 1s;
    cursor: pointer;
}

.blogFront {
    height: 500px;
    width: 126%;
    margin-left: -30px;
    background-size: cover;
    background-position: center;
}
.blogPost {
    height: 260px;
    margin-top: -400px;
    width: 30vw;
    margin-left: 50px;
    background-color: #6297CA;
}

.blogArchive {
    height: 300px;
    margin-top: 220px;
}

.myTitle {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.bpDate {
    float: right;
    padding-right: 15px;
}
.bpPreview {
    float: right;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    text-indent: 25px;
}

.blogPost:hover {
    transition: 1s;
    background-color: white;
    color: #6297CA;
}

.baHeader {
    margin-top: 25px;
    height: 50px;
    font-size: 30px;
    padding-left: 20px;
}
.baMatrix {
    height: 220px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.aPost {
    display: inline-block;
    height: 220px;
    margin-left: 50px;
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 20px;
}
.aPost:hover {
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}
.aPostDate {
    height: 10%;
    text-align: center;
    font-weight: bolder;
}
.aPostImage {
    height: 60%;
    background-position: center;
    background-size: cover;
}
.aPostCaption {
    height: 30%;
    text-align: center;
    padding-top: 10px;
}

.contactWrapper {
    width: 500px;
    margin: auto;
    padding-top: 150px;
}

.title5 {
    font-size: 80px;
    text-align: center;
    border-bottom: 2px solid white;
}
.interestingQuote {
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
}

.attrTo {
    text-align: right;
    padding-right: 80px;
    font-size: 25px;
    border-bottom: 2px solid white;
}

.aContact {
    height: 75px;
    padding-top: 10px;
}
.contactIcon {
    height: 65px;
    padding-top: 10px;
    width: 75px;
    float: left;
    margin-left: 10px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #6297CA;
    border-radius: 15px;
    margin-right: 20px;
}
.contactSource {
    float: left;
    font-weight: bolder;
    font-size: 25px;
    width: 380px;
    border-bottom: 1px solid white;
}
.contactLink {
    float: left;
    font-size: 18px;
    width: 390px;
}
.contactIcon:hover {
    color: white;
    background-color: black;
    transition: 1s;
    cursor: pointer;
}



/* handles big screens */
@media screen and (max-width: 2000px) {
    .blogPost {
        width: 450px;
    }
    
}
@media screen and (min-width: 1000px) {
    
    .name {
        font-size: 60px;
    }
    .title {
        font-size: 30px;
    }
    .displayCaption {
        font-size: 35px;
    }
    .aboutMe {
        font-size: 40px;
    }
    .option {
        font-size: 25px;
        margin-right: 20px;
    }
    
}
@media screen and (max-width: 1200px) {
    .projectMatrix {
        margin-top: 30px;
    }
    
    .aProject {
        height: 60px;
        width: 80%;
        font-size: 28px;
        float: none;
        margin: auto;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 1000;
    }
    
    .break {
        display: none;
    }
}


@media screen and (max-width: 900px) {
 .igContent {
        background-size: cover;
        background-position: left;
        overflow-x: scroll;
        white-space: nowrap;
        position: absolute;
        width: 60vw;
    }
    .blogPost {
        height: 100px;
    margin-top: -50px;
    }
    .myTitle {
        font-size: 18px;
    }
    .bpPreview {
        display: none;
    }
    .bpPreview {
        height: 0px;
    }
    .blogFront {
        height: 250px;
    }
    #tps {
        visibility: hidden;
    }
    .blogArchive {
        margin-top: -50px;
    }
    
}
/* handles iPhone screens */
@media screen and (max-width: 700px) {

    .header {
        display: none;
    }
    
    .blankSpace {
        display: none;
    }
    
    .main {
        width: 100%;
        height: 100%;
    }
    
    #section1 {
        background-image: none;
        background-color: slategray;
    }
    
    #section2 {
        height: 800px;
    }
    
    .infoContainer {
        height: 400px;
        width: 90%;
        margin-bottom: 50px;
    }
    .name {
        padding-top: 30px;
        font-size: 45px;
    }
    .title {
        font-size: 25px;
    }
    
    #convWrapper {
        margin-left: 50px;
    }
    
    .displayCaption {
        display: none;
    }
    
    .seeFullResume {
        border-radius: 0;
    }
    
    .graphicContainer {
        display: none;
    }
    .resumeIntro {
        display: block;
        width: 50%;
        margin: auto;
        font-weight: 1000;
    }
    .smallImage {
        height: 250px;
    }
    .resumeIcon {
        display: block;
        height: 90px;
        width: 90px;
        background-image: url(images/rez.png);
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .downloads {
        margin-top: -100px;
    }
    
    
    .igContent {
        background-size: cover;
        background-position: left;
        overflow-x: scroll;
        white-space: nowrap;
        position: absolute;
        width: 400px;
    }
    
    .displayContainer {
        width: 100%;
        margin-left: -30px;
    }
    
    
    /* section 3 */ 
    
    #section3 {
        background-image: none;
        background-color: slategray;
    }
    .projectMatrix {
        width: 98%;
    }
     .aProject {
         font-size: 21px;
         padding-top: 35px;
         height: 50px;
    }
    
    
    /* Section 4 */ 
    .blogHeader {
        margin-left: -5px;
    }
    .option {
        font-size: 20px;
        margin-right: 45px;
        margin-left: 20px;
    }
    .blogArchive {
        display: none;
    }
    #sbs {
        width: 70px;
    }
    #tps {
        display: none;
    }
    .blogHeader {
        width: 500px;
    }
    
    .blogPost {
        margin-top: 50px;
        margin-left: 0px;
        width: 110%;
        height: 240px;
        margin-bottom: 50px;
    }
    .myTitle {
        font-size: 30px;
    }
    
    
    /* Section 5 */
    #section5 {
        background-image: none;
        background-color: slategray;
    }
    .contactWrapper {
        width: 80%;
        margin-bottom: 40px;
        padding-top: 20px;
    }
    .title5 {
        font-size: 40px;
    }
    .contactSource {
        width: 50%;
    }
    .contactLink {
        display: none;
    }
    
   
}



















