html {
    scroll-behavior: smooth;
    scroll-behavior: [ auto | smooth ];
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

body {
    margin: 0;
    font-family: 'Spectral', serif;
}

.header {
    background-color: none;
    width: 100%;
    position: relative;
    margin-bottom: -100px;
}

.selector {
    height: 100px;
    width: 550px;
    color: white;
    margin: auto;
    font-family: 'Diplomata', cursive;
    position: relative;
    z-index: 1;
}
.selector:hover {
    z-index: 99999;
}
.selector a {
    color: white;
}

.site {
    width: 230px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 25px;
    float: left;
}
.outliner {
    height: 20px;
    position: absolute;
    z-index: 2;
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
    visibility: hidden;
}

#TL {
    border-left: 3px solid white;
    border-top: 3px solid white;
    margin-left: 50px;
    margin-top: 30px;
}
#TR {
    border-right: 3px solid white;
    border-top: 3px solid white;
    margin-left: 200px;
    margin-top: 30px;
}
#BL {
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    margin-top: 50px;
    margin-left: 50px;
}
#BR {
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    margin-left: 200px;
    margin-top: 50px;
}

#ssect:hover .outliner {
    visibility: visible;
}
#ssect:hover #TL {
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s;
}
#ssect:hover #TR {
    margin-left: 260px;
    margin-top: 10px;
    transition: 1s;
}
#ssect:hover #BL {
    margin-left: 10px;
    margin-top: 70px;
    transition: 1s;
}
#ssect:hover #BR {
    margin-top: 70px;
    margin-left: 260px;
    transition: 1s;
}


#sskills:hover .outliner{
    visibility: visible;
}
#sskills:hover #TL {
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s;
}
#sskills:hover #TR {
    margin-left: 260px;
    margin-top: 10px;
    transition: 1s;
}
#sskills:hover #BL {
    margin-left: 10px;
    margin-top: 70px;
    transition: 1s;
}
#sskills:hover #BR {
    margin-top: 70px;
    margin-left: 260px;
    transition: 1s;
}


#sedu:hover .outliner {
    visibility: visible;
}
#sedu:hover #TL {
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s;
}
#sedu:hover #TR {
    margin-left: 260px;
    margin-top: 10px;
    transition: 1s;
}
#sedu:hover #BL {
    margin-left: 10px;
    margin-top: 70px;
    transition: 1s;
}
#sedu:hover #BR {
    margin-top: 70px;
    margin-left: 260px;
    transition: 1s;
}

#swork:hover .outliner {
    visibility: visible;
}
#swork:hover #TL {
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s;
}
#swork:hover #TR {
    margin-left: 260px;
    margin-top: 10px;
    transition: 1s;
}
#swork:hover #BL {
    margin-left: 10px;
    margin-top: 70px;
    transition: 1s;
}
#swork:hover #BR {
    margin-top: 70px;
    margin-left: 260px;
    transition: 1s;
}

#sproj:hover .outliner {
    visibility: visible;
}
#sproj:hover #TL {
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s;
}
#sproj:hover #TR {
    margin-left: 260px;
    margin-top: 10px;
    transition: 1s;
}
#sproj:hover #BL {
    margin-left: 10px;
    margin-top: 70px;
    transition: 1s;
}
#sproj:hover #BR {
    margin-top: 70px;
    margin-left: 260px;
    transition: 1s;
}
#sworld:hover .outliner {
    visibility: visible;
}
#sworld:hover #TL {
    margin-left: 10px;
    margin-top: 10px;
    transition: 1s;
}
#sworld:hover #TR {
    margin-left: 260px;
    margin-top: 10px;
    transition: 1s;
}
#sworld:hover #BL {
    margin-left: 10px;
    margin-top: 70px;
    transition: 1s;
}
#sworld:hover #BR {
    margin-top: 70px;
    margin-left: 260px;
    transition: 1s;
}

.modalSelector {
    height: 100px;
    width: 300px;
    position: relative;
    display: inline-block;
    float: right;
    font-size: 40px;
}
.modalSelector a {
    text-decoration: none;
    color: white;
}
.modalSelector:hover .dropdownContent {
    display: block;
    transition: 1s;
    background-color: #2C8631;
}
.modalSelector .sect:hover {
    background-color: #2C8631;
    transition: 1s;
    color: white;
}

.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
    width: 300px;
}
.dropdownContent .sect:hover {
    background-color: #2C8631;
    transition: 1s;
    color: white;
}


.sticky {
    position: fixed;
    top: 20px;
    width: 100%;
}
.sect {
    height: 75px;
    padding-top: 25px;
    padding-left: 25px;
}

/*
.sticky + .content{
    padding-top: 102px;
} */

.section {
    height: 950px;
}

#intro {
    background-color: #262626;
}
.aboutMe {
    width: 500px;
    margin: auto;
    color: white;
    text-align: center;
}

.wordCloud {
    height: 500px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    z-index: 2;
    position: relative;
    background-color: #262626;
    padding-top: 150px;
}

svg text.blink {
  animation: blink 2s ease-out;
}

#tagi {
width: 100%;
font-family: 'Spectral', serif;
}

@keyframes blink {
  0% {
    text-shadow: 0 0 20px rgba(44, 134, 49, 0);
  }
  20% {
    fill: rgba(44, 134, 49, 1);
    text-shadow: -5px -5px 20px rgba(44, 134, 49, 0.8), 5px -5px 20px rgba(44, 134, 49, 0.8), 5px 5px 20px rgba(44, 134, 49, 0.8), -5px 5px 20px rgba(44, 134, 49, 0.8);
    ;
  }
  30% {
    fill: rgba(44, 134, 49, 1);
    -5px -5px 20px rgba(44, 134, 49, 0.8), 5px -5px 20px rgba(44, 134, 49, 0.8), 5px 5px 20px rgba(44, 134, 49, 0.8), -5px 5px 20px rgba(44, 134, 49, 0.8);
  }
  100% {
    text-shadow: 0 0 20px rgba(44, 134, 49, 0);
  }
}

.st0 {

  font-size: 68px;
}
.st1 {
  font-size: 27px;
}
.st2 {
  font-size: 82px;
}
.st3 {
  font-size: 41px;
}
.st4 {
  font-size: 41px;
}
.st5 {
  fill: #808080;
}
.st6 {
  font-size: 24px;
}
.st7 {
  font-size: 24px;
}
.st8 {
  font-size: 62px;
}
.st9 {
  font-size: 86px;
}
.st10 {
  font-size: 18px;
}
.st11 {
  font-size: 18px;
}
.st12 {
  font-size: 25px;
}
.st13 {
  font-size: 25px;
}
.st14 {
  font-size: 25px;
}
.st15 {
  font-size: 32px;
}
.st16 {
  font-size: 32px;
}
.st17 {
  font-weight: 600;
  fill: white;
}
.st18 {
  font-size: 22px;
}
.st19 {
  font-size: 22px;
}
.st20 {
  font-size: 36px;
}
.st21 {
  font-size: 19px;
}
.st22 {
  font-size: 51px;
}
.st23 {
  font-size: 26px;
}
.st24 {
  font-size: 33px;
}
.st25 {
  font-size: 20px;
}
.st26 {
  font-size: 23px;
}
.st27 {
  font-size: 23px;
}
.st28 {
  font-family: 'Spectral', serif;
}
.st29 {
  font-size: 54px;
}
.st30 {
  font-size: 20px;
}
.st31 {
  font-size: 37px;
}


#skills {
    background-image: url(images/palm.jpg);
    background-color: #37AD3E;
    color: white;
}
.content {
    padding-top: 150px;
}

.codingContainer {
    height: 220px;
    background-color: #262626;
    width: 90%;
    margin: auto;
}
.languageContainer {
    height: 220px;
    background-color: #262626;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.toolContainer {
    height: 220px;
    background-color: #262626;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.animatedSkills {
    height: 130px;
    width: 250px;
    float: left;
}

.skillTitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Diplomata', cursive;
    width: 900px;
    margin: auto;
    border-bottom: 2px solid white;
    padding-top: 10px;
}
.aSkill {
    font-weight: bold;
    font-size: 16px;
}

.technicalLinks {
    float: left;
    width: 50px;
    height: 130px;
    margin-top: 10px;
    margin-left: 20px;
}

.aLink {
    background-color: white;
    height: 20px;
    width: 30px;
    margin: auto;
    margin-bottom: 7.5px;
    color: #205F24;
    font-size: 15px;
    text-align: center;
}

.aLink:hover {
    background-color: #205F24;
    color: white;
    transition: 1s;
}

.technicalLinks a {
    text-decoration: none;
}

.runningAnimation {
    float: left;
    width: 72%;
    height: 130px;
    margin-top: 10px;
    margin-left: -20px;
}
.aBar {
    height: 16px;
    background-color: greenyellow;
    margin-top: 6px;
    margin-bottom: 9px;
}
#pythonBar {
    width: 95%;
}
#commandBar {
    width: 65%;
}
#jsBar {
    width: 75%;
}
#wslBar {
    width: 85%;
}
#qBar {
    width: 95%;
}
#italianBar {
    width: 95%;
}
#spanishBar {
    width: 75%;
}
#chineseBar {
    width: 55%;
}
#russianBar {
    width: 55%;
}
#germanBar {
    width: 25%;
}

.x-axisLabel {
    height: 30px;
    float: left;
    width: 72.2%;
    margin-left: 230px;
}

.pointsContainer {
    height: 4px;
    margin-top: 5px;
}
.aPoint {
    height: 4px;
    width: 4px;
    background-color: white;
    margin-left: 9.8%;
    float: left;
}

.x-axis {
    height: 5px;
    background-color: white;
}

.aMarker {
    height: 30px;
    margin-top: -2px;
    font-size: 14px;
    color: white;
    float: left;
}
#beginner {
    margin-left: 7%;
}
#intermediate {
    margin-left: 15%;
}
#advanced {
    margin-left: 18%;
    
}
#specialty {
    margin-left: 20%;
}

@media screen and (max-width: 1200px) {
    .skillTitle {
        font-size: 20px;
        width: 70%;
    }
    .runningAnimation {
        display: none;
    }
    .x-axisLabel {
        display: none;
    }
    .technicalLinks {
        margin-left: 65%;
    }    
}
@media screen and (max-width: 1000px) {
    .technicalLinks {
        margin-left: 55%;
    } 
}
@media screen and (max-width: 800px) {
    .technicalLinks {
        margin-left: 45%;
    } 
}
@media screen and (max-width: 650px) {
    .technicalLinks {
        margin-left: 45%;
    } 
}
@media screen and (max-width: 500px) { 
    .skillTitle {
        font-size: 20px;
        width: 400px;
    }
    .runningAnimation {
        display: none;
    }
    .x-axisLabel {
        display: none;
    }
    .technicalLinks {
        margin-left: 30%;
    }
}


#education {
    background-color: #262626;
}

.mainEducation {
    height: 400px;
    width: 90%;
    margin: auto;
}

.masters {
    height: 400px;
    width: 40%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    color: white;
    border-radius: 5px;
}
.masters:hover {
    background-color: #205F24;
    color: white;
    transition: 1s;
}
.masters:hover .eduTitle {
    border-bottom: 3px solid white;
}

.bachelors {
    height: 400px;
    width: 40%;
    float: left;
    color: white;
    border-radius: 5px;
}
.bachelors:hover {
    background-color: #205F24;
    color: white;
    transition: 1s;
}
.bachelors:hover .eduTitle {
    border-bottom: 3px solid white;
}

.eduTitle {
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid white;
    font-family: 'diplomata';
}
.icon {
    height: 180px;
    width: 180px;
    margin: auto;
    background-color: rebeccapurple;
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.degree {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 3px solid white;
}

.honors {
    font-size: 20px;
    text-align: center;
}

.theses {
    height: 100px;
    margin-top: 10px;
}

.aThesis {
    height: 100px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    margin-left: 50px;
    float: left;
}
.tSpace {
    height: 10px;
    width: 80px;
}
.tIcon {
    height: 80px;
    width: 80px;
    background-color: #205F24;
    border-radius: 5px;
    margin-left: 10px;
    float: left;
    background-position: center;
    background-size: cover;
    background-image: url(/images/paper.png)
}
.tTitle {
    float: left;
    width: 300px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}
.tDescription {
    float: left;
    width: 300px;
    margin-left: 10px;
    font-size: 15px;
}

.classProjects {
    height: 200px;
    margin-top: 40px;
}

.aProject {
    height: 70px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}
.pSpace {
    height: 5px;
    width: 50px;
}

.pIcon {
    height: 60px;
    background-color: black;
    margin-left: 15px;
    border-radius: 5px;
    width: 60px;
    float: left;
    background-size: cover;
    background-position: center;
}
.pTitle {
    float: left;
    font-size: 15px;
    font-weight: bold;
    width: 210px;
    margin-left: 10px;
    margin-top: 5px;
}


#experience {
    background-color: #205F24;
}

#projects {
    background-color: #262626;
}

#international {
    background-image: url(images/globe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #205F24;
}

#contact {
    background-color: #262626;
}
