html,body {
    height: 100%;
    background: #333;
}

.site {
    height: 100%;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}


.page-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #5D261C;
}

#new-content {
    background: #FFD300;
    z-index: 1;
}

.page-content p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: acme;
    font-size: 75px;
    text-transform: uppercase;
    color: #FFD300;
    font-weight: 400;
    margin: 0;
}

#new-content p {
    color: #5D261C;
}

.page-content p strong {
    font-weight: 700;
}

.header {
    height: 10%;
    border-bottom: 5px solid #5D261C;
}
.trifold {
    height: 20%;
}

.bio {
    height: 70%;
    width: 50%;
    background: red;
    float: left;
}

.main {
    height: 70%;
    float: left;
    width: 50%;
    background: orange;
}

.title {
    font-size: 450%;
    color: #5D261C;
    font-family: acme;
    margin-left: 30%;
    padding-top: 5px;
    float: left;
}

.flag {
    background-size: cover;
    background-position: 40% 80;
    height: 96%;
    width: 20%;
    margin-top: .4%;
    margin-left: 55%;
}

.choice {
    height: 90%;
    border: 2px solid #5D261C; 
    background: #5D261C;
    width: 31.5%;
    float: left;
    margin-top: 1%;
    margin-right: .4%;
    margin-left: .8%;
    color: #FFD300;
}

.choice:hover {
    border: 2px solid black;
    background: #FFD300;
    transition: 1s;
    color: #5D261C;
    font-weight: 700;
    cursor: pointer;
}

.minititle {
    font-family: spectral;
    width: 80%;
    padding-left: 10%;
    padding-right: 12%;
    text-align: center;
    font-size: 27px;
    margin-top: 15%;
}


















