html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-top: 0px;
}

body a {
    text-decoration: none;
}

/* fader */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
} 


.nSelector {
    float: left;
    margin-left: 150px;
    width: 50%;
    text-align: center;
}
.nSelector:hover .nOptions {
    visibility: visible;
    transition: 1s;
}

.nOption {
    font-family: 'PT Sans';
    font-weight: bolder;
    font-size: 40px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
}
.nOption:hover {
    background-image: linear-gradient(#D0A97F, #C17B55);
    transition: .5s;
    cursor: pointer;
    color: white;
}

.nOptions {
    background-color: white;
    border-radius: 10px;
    margin-top: -80px;
    z-index: 2;
    position: relative;
    visibility: hidden;
    padding-bottom: 10px;
}

#nMain {
    height: 900px;
    width: 100%;
    background-image: linear-gradient(#D0A97F, #C17B55);
    color: #50331D;
}
#nMain a {
    color: #50331D;
}

#eWatch {
    height: 900px;
    width: 100%;
    background-image: linear-gradient(#C17B55, #995538);
}
#nMaps {
    height: 900px;
    width: 100%;
    background-color: #995538;
}

.nHeader {
    height: 10%;
    font-family: Geostar Fill;
}

.nLogo {
    text-align: center;
    width: 30%;
    font-size: 50px;
    padding-top: 20px;
    float: left;
}

.nTrending {
    height: 5%;
    background-color: rgba(0,0,0,0.3);
}

.nBackground {
    height: 45%;
    background-image: url(/projects/geo/images/background.jpeg);
    background-size: cover;
    background-position: center;
}

.nContent {
    height: 35%;
}

.nPage {
    margin-top: 15px;
    max-width: 300px;
    height: 300px;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
    float: left;
}
.nPage:hover {
    margin-top: -180px;
    height: 480px;
    transition: 1.5s;
    background-color: black;
    color: white;
    cursor: pointer;
}
.nPage:hover .preview {
    height: 200px;
    background-color: black;
}
.nPage:hover .nCountry {
    border: 2px solid white;
}
.nPage:hover .nSubtitle {
    display: block;
}


.nCountry {
    padding-top: 10px;
    font-family: 'PT Sans';
    font-size: 30px;
    text-align: center;
    border: 2px solid #50331D;
}

.preview {
    height: 200px;
    background-color: white;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nCaption {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.nSubtitle {
    height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
    font-family: 'PT Sans';
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #C17B55;
}



.descriptor {
    color: white;
    font-size: 18px;
    font-family: spectral;
    margin-left: 2%;
    text-indent: 25px;
    text-align: justify;
    float: left;
    width: 60%;
    margin-top: 2%;
}

.nTotal {
    height: 90%;
    width: 99%;
    margin: auto;
}

.nPick {
    margin-top: 20px;
    margin-left: 50px;
    height: 100%;
    width: 30%;
    float: left;
}

.nPickTitle {
    font-size: 30px;
    text-align: center;
    color: white; 
    font-weight: bolder;
    font-family: 'PT Sans';
    margin-bottom: 75px;
}
.aPick {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    color: #995538;
}
.optionWrapper:hover .aPick {
    color: white;
    background-color: #995538;
    transition: 1s;
    cursor: pointer;
}
.eDate {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    color: #995538;
    background-color: white;
    margin-top: -5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
}
.optionWrapper:hover .eDate {
    visibility: visible;
}

.nWrapper {
    height: 100%;
    width: 60%;
    float: left;
    margin: auto;
}

.nContainer {
    height: 750px;
    width: 80%;
    border: 1px solid tan;
    margin: auto;
    margin-top: 20px;
}

.mapTitle {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
    color: white;
}

.map {
    height: 80%;
    width: 95%;
    background-size: cover;
    background-position: center;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .nCountry {
        font-size: 16px;
        padding-top: 2px;
    }
    .nPage {
        min-width: 200px;
    }
    .nPage:hover {
        margin-top: 15px;
        height: 300px;
    }
    .nPage:hover .nSubtitle {
        visibility: hidden;
    }
    #extra2 {
        display: none;
    }
    .moreArrows {
        font-size: 10vw;
    }
}
@media screen and (max-width: 800px) {
    .nSelector {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    #extra {
        display: none;
    }
}


