html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-top: 0px;
    background-color: rgba(245, 242, 228,  0.5);
}

/* fader */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
} 

#main {
    width: 90%;
    margin: auto;
    max-width: 1200px;
    min-width: 1000px;
}


#myHeader {
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#myLogo {
    height: 75px;
    width: 70px;
    margin-left: 2%;
    margin-right: 7%;
    color: white;
    font-size: 69px;
    text-align: center;
    float: left;
    margin-top: 15px;
}
#myLinks {
    height: 75px;
    width: 65%;
    float: left;
    margin-left: 15%;
    margin-top: 15px;
}
.aLink {
    height: 33px;
    width: 23%;
    margin-left: 2%;
    font-family: 'News Cycle', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    float: left;
    border-bottom: 2px solid white;
    color: white;
} 
#myTitle {
    height: 300px;
    width: 40%;
    margin-right: 5%;
    margin-top: 150px;
    float: right;
}
#myTag {
    height: 25px;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
}


#introWrapper {
    height: 500px;
    width: 80%;
    margin: auto;
    background-color: #f5f2e4;
}
#metaContainer {
    height: 360px;
    width: 45%;
    float: left;
    margin-top: 70px;
}
#subtitle {
    height: 150px;
    font-size: 56px;
    text-align: right;
    font-family: 'Lato';
    font-weight: bolder;
    width: 95%;
}
#author {
    font-size: 18px;
    font-family: 'Lato';
    text-align: right;
    font-weight: bold;
    width: 98%;
}
#introText {
    font-size: 18px;
    font-family: 'News Cycle';
    text-align: right;
    margin-top: 15px;
    font-weight: bold;
    font-style: italic;
    width: 98%;
}
#introContainer {
    height: 400px;
    width: 55%;
    float: left;
    margin-top: 50px;
}
.block {
    width: 70%;
    margin: auto;
    font-family: 'News Cycle';
    font-size: 15px;
}
#myIntro {
    margin-top: 10px;
}


#recImage {
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    float: left;
    background-size: cover;
    background-position: center;
}
#recContainer {
    height: 500px;
    width: 50%;
    float: left;
}
#recTitle {
    width: 95%;
    font-size: 40px;
    font-family: 'Lato';
    font-weight: bolder;
    padding-right: 15px;
}
#positions {
    width: 95%;
}
.aList {
    font-family: 'News Cycle';
    font-size: 15px;
}


#geoWrapper {
    height: 500px;
    width: 80%;
    margin: auto;
    background-color: #f5f2e4;
}
#geoTitle {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
    font-family: 'Lato';
    padding-left: 30px;
}
.geotextWrapper {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-left: 100px;
}
.geoText {
    font-family: 'News Cycle'
}
#geoPhoto {
    height: 200px;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    
}

#americaWrapper {
    width: 80%;
    margin: auto;
    background-color: #f5f2e4;
    padding-bottom: 20px;
}
#americaTitle {
    font-size: 40px;
    font-family: 'Lato';
    padding-right: 30px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.anAdministration {
    height: 50px;
    margin-top: 25px;
}
.adminName {
    padding-left: 25px;
    padding-top: 4px;
    font-size: 25px;
    color: white;
    width: 90%;
    float: left;
    font-family: 'News Cycle'
}
.moreIcon {
    padding-top: 5px;
    padding-left: 15px;
}
.moreIcon:hover {
    cursor: pointer;
}

.adminWrapper {
    height: 320px;
    border: 5px solid #114561;
}
.adminPhoto {
    height: 320px;
    float: left;
    width: 30%;
    background-size: cover;
    border-right: 5px solid #114561;
}
.adminInfo {
    font-family: 'News Cycle';
    font-size: 16px;
    margin-left: 25px;
    float: left;
    width: 65%;
}
.adminText {
    float: left;
    width: 60%;
    font-family: 'News Cycle';
    font-size: 15px;
}


#postSection {
    font-family: 'PT Sans';
    color: white;
    font-size: 25px;
    padding-top: 70px;
    padding-left: 2%;
    width: 8%;
    height: 140px;
    float: left;
}
#postWrapper {
    height: 200px;
    width: 90%;
    float: left;
}
.aPost {
    height: 180px;
    margin-top: 10px;
    margin-left: 20px;
    width: 20%;
    border-radius: 5px;
}
.aPost:hover {
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
    border: 1px solid white;
}
.aPost:hover .aPost-Title {
    background-color: transparent;
    transition: 1s;
    color: white;
}
.aPost-Photo {
    height: 110px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.aPost-Title {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'PT Sans';
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    background-color: white;
}





.aContact {
    height: 56px;
    width: 7%;
    float: left;
    margin-right: 3%;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    border: 2px solid white;
}

@media screen and (max-width: 1300px) { 
    #introWrapper, #recWrapper {
        width: 99%;
    }
}























