.title {
    font-size: 40px;
    text-align: center;
    font-family: saira;
    font-weight: bold;
}
.author {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
#myChart {
    margin-top: 100px;
}
.gramWrapper {
    height: 100px;
    width: 100%;
}
.icon {
    float: left;
    font-size: 80px;
    margin-left: 35vw;
}
.iconLabel {
    margin-left: 41vw;
    font-size: 30px;
    margin-bottom: 50px;
}

.mobileOnly {
    display: none;
}
.desktopOnly {
    display: block;
}
.bigOnly {
    display: block;
}

.paragraphWrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.sectionTitle {
    margin-top: 50px;
    font-size: 30px;
}
.question {
    margin-top: 5px;
    font-weight: bold;
}
.writeup {}

#header {
    height: 75px;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    border-bottom: 1px solid slategray;
    box-shadow: 0px 4px 5px lightgray;
}
#logo {
    margin-left: 50px;
    width: 230px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    float: left;
}
#main-background {
    width: 100%;
    height: 5700px;
    background-image: url(../images/straws.png);
    padding-top: 30px;
}
#main {
    width: 80%;
    max-width: 800px;
    float: left;
    margin-left: 100px;
}
#dataExploration {
    width: 80%;
    max-width: 800px;
    float: left;
    margin-left: 100px;
    height: 1000px;
}
#draftContent {
    width: 80%;
    max-width: 800px;
    float: left;
    margin-left: 100px;
    height: 1000px;
}
#draftContent2 {
    width: 80%;
    max-width: 800px;
    float: left;
    margin-left: 100px;
    height: 1000px;
}
.filterAll {
    float: left;
    margin-left: 100px;
}
#explainer {
    background-image: linear-gradient(blue, purple, red, purple, blue);
    width: 400px;
    padding-bottom: 435px;
}
#filterContainer {
    height: 400px;
    width: 400px;
    font-family: saira;
    margin-bottom: 150px;
}
.filterTitle {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-family: saira;
}

.aFilter {
    background-image: linear-gradient(to right, blue, red);
    height: 12%;
    margin-bottom: 10%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    border: 2px solid black;
}

.aFilter:hover {
    background-image: none;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.explanation {
    width: 400px;
    height: 350px;
    margin-bottom: 60px;
}

#partyFilter {
    height: 30px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    border: 3px solid black;
}
.partyOption {
    width: 33.33%;
    height: 27.5px;
    float: left;
    font-family: saira;
    text-align: center;
    padding-top: 2.5px;
    font-weight: bold;
}
.partyOption:hover {
    background-image: none;
    cursor: pointer;
    color: black;
}

.active {
    background-color: transparent;
    color: black;
}
.active2 {
    background-color: white;
    background-image: none;
    color: black;
}

.dem {
    background-image: linear-gradient(to right, blue, red);
    color: white;
}
.rep {
    background-image: linear-gradient(to right, red, purple);
    color: white;
}
.both {
    background-image: linear-gradient(to right, purple, blue);
    color: white;
}

.prelimWrapper {
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.verticalWrapper {
    height: 400px;
    float: left;
}
.horizontalWrapper {
    height: 20%;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    color: black;
    font-size: 70px;
    text-align: center;
}
.horizontalWrapper:hover {
    color: red; 
}
.portrait {
    height: 350px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    background-color: blue;
    background-size: cover;
    background-position: center;
}

.sectionTitle {
    font-family: saira;
    border-bottom: 2px solid black;
    display: inline-block;
}
.infographicWrapper {
    margin-top: 10px;
    margin-bottom: 50px;
}
.infographic {
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
    float: left;
}
.infotextWrapper {
    height: 300px;
    width: 50%;
    float: left;
}
.infographic-spread {
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 20px;
}
.infotext-spread {

    height: 300px;    
}
.infotext {
    font-family: saira;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.exp_text {
    font-family: saira;
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.subject {
    float: left;
    padding-right: 20px;
    margin-top: 20px;
    padding-left: 20px;
    border-left: 1px solid gray;
    font-family: 'Saira', sans-serif;
    font-size: 25px;
}
.subject:hover {
    background-color: skyblue;
    transition: 1s;
    color: white;
    cursor: pointer;
}
.content {
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}

.downloadWrapper {
    height: 300px;
    width: 100%;
    display: inline-block;
}
.downloadPreview {
    height: 300px;
    border: 1px solid black;
    width: 80%;
    margin-left: 2%;
    background-size: cover;
    background-position: top;
    float: left;
}
.downloadIcon {
    height: 200px;
    width: 15%;
    float: left;
    font-size: 70px;
    margin-top: 45px;
    margin-left: 2%;
    text-align: center;
}

.aDraft {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1200px) { 
    .bigOnly {
        display: none
    }
    #main {
        margin: auto;
        float: none;
    }
    #dataExploration {
        margin: auto;
        float: none;
    }
    #draftContent {
        margin: auto;
        float: none;
    }
    #draftContent2 {
        margin: auto;
        float: none;
    }
    
@media screen and (max-width: 700px) { 
    #logo {
        float: none;
        margin: auto;
    }
    .desktopOnly {
        display: none;
    }
    .mobileOnly {
        display: block;
    }
    #main-background {
        height: 8000px;
    }
    .portrait {
        height: 200px;
        margin-top: 100px;
    }
    .infographic {
        width: 100%;
    }
    .infotextWrapper {
        width: 100%;
    }
    .horizontalWrapper {
        font-size: 40px;
    }
}