html {
     scroll-behavior: smooth;
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

body {
    margin: 0;
    color: navy;
}

#main {
    height: 1000px;
    width: 100%;
    background-image: url(images/mainbackground.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: absolute;
    padding-bottom: 100px;
}

#myHeader {
    font-family: 'Lato';
    margin: auto;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 350px;
}
#content {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 350px;
}
.aTheme {
    height: 300px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
}
#theme1 {
    display: none;
}
#theme2 {
    display: none;
}
#theme3 {
    display: none;
}

.themeTitle {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    font-family: 'Lato';
    text-align: center;
}
.themeUpdate {
    font-family: 'News Cycle';
    text-align: center;
    font-size: 18px;
}
.themeIconWrapper {
    padding-top: 10px;
    height: 140px;
    width: 95%;
    margin: auto;
}
.iconContainer {
    height: 115px;
    width: 32.33%;
    float: left;
    padding-top: 20px;
    background-color: navy;
    text-align: center;
    margin-right: 1%;
    color: white;
}
.anIconTitle {
    margin-top: 10px;
    font-family: 'News Cycle';
    background-color: white;
    color: navy;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    overflow: auto;
}